.effects {
    display: grid;
    padding: 0px 30px 0px 30px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
}

.effect {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: hsla(0, 0%, 18%, 0.04);
    border-radius: 10%;
    padding: 4%;
    transition: all 0.1s ease-in-out;
}

.effect:hover {
    opacity: 100%;
}

.effect span {
    color: lightcoral;
}

.icons {
    color: lightcoral;
    font-size: 300%;
}

#sounds {
    -webkit-appearance: none;
    background: #1d1d1d;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#sounds::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: lightcoral;
    cursor: pointer;
}

#sounds:hover {
    opacity: 1;
}

.status {
    color: #f08080;
    text-align: center;
    font-size: 100%;
    margin: 30px;
}

@media only screen and (max-width: 800px) {


}