@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
@import url('/src/css/snow.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 10px;  /* Preferred icon size */
    
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

.responsive {
    width: 100%;
    height: auto;
}

.nosel {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

.sky {
    animation: sky 3s infinite alternate;
}
.sky:hover {
    animation: red 3s infinite ease-in;
}


body {
    font-family: 'Yomogi', sans-serif;
    color: #1d2027;
    background-color: #161616;
    line-height: 1.6;
    overflow: hidden;
}

ul {
    list-style-type: none;
}
li {
    font-size: 110%;
}

a {
    text-decoration: none;
    color: white;
}

h1, 
h2 {
    font-weight: 320;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

.nav {
    background-color: #1d1d1d; 
    color: white;
    height: 50px;
    
}

.nav ul {
    display: flex;
}

.nav a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}



.nav .flex {
    justify-content: space-between;
}


.container {
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.button {
    border: none;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    margin-top: 9%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    transition: color 0.2s;
}

.button:hover {
    animation: color 5s ease infinite alternate;
}

.title {
    font-family: 'Mitr', sans-serif;
    font-size: 150%;
    color: white;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.title h1 {
    background: linear-gradient(130deg, #4d91f7, #ff5858, #98f363);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite alternate;
}
.description {
    font-size: 150%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#bd {
    animation: bd 3s infinite alternate;
}

#avatar {
    border-radius: 100%;
    width: 30%;
    height: auto;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#links {
    margin-left: auto;
    margin-right: auto;
}

@keyframes bd {
    0% { color: rgba(84, 242, 84, 0.734); }
    25% { color: rgba(84, 242, 84, 0.734); }
    75% { color: rgba(248, 53, 18, 0.734); }
    100% { color: rgba(248, 53, 18, 0.734); }
}

@keyframes sky {
    0% { color: rgba(46, 194, 194, 0.734); }
    25% { color: rgba(56, 143, 209, 0.734); }
    50% { color: rgba(38, 118, 179, 0.734); }
    75% { color: rgba(56, 143, 209, 0.734); }
    100% { color: rgba(46, 194, 194, 0.734); }
}

@keyframes red {
    0% { color: rgba(194, 46, 78, 0.734); }
    25% { color: rgba(206, 26, 65, 0.734); }
    50% { color: rgba(206, 51, 84, 0.734); }
    75% { color: rgba(206, 26, 65, 0.734); }
    100% { color: rgba(194, 46, 78, 0.734); }
}

@keyframes gradient { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes color {
    0% {
        color: #4d91f7;
    }
    25% {
        color: #8e4df7
    }
    50% {
        color: #ff5858
    }
    75% {
        color: #f3dd63
    }
    100% {
        color: #98f363
    }
}

@media only screen and (max-width: 320px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
        overflow: auto;
        padding: 0 40px;
    }
    .titlenav {
        visibility: hidden;
    }
    .nav .flex {
        justify-content: center;
    }
    .title {
        font-size: 100%;
    }
    .description {
        font-size: 90%;
        
    }
    #button {
        font-size: 12px;
        padding: 10px 25px;
    }
}