@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('./snow.css');
@import url('./progressbar.css');
@import url('./tooltips.css');

:root {
    --theme-color: lightcoral;
    --background: #161616;
    --box-background: #1d1d1d;
    --box-background-l: #2d2d2d;
    --drop-color : #f08080d1;
    --font: white;
}

/* :root {
    --theme-color: rgb(238, 121, 121);
    --background: #fbfcf8;
    --box-background: #fdf6e4;
    --box-background-l: #e7decc;
    --drop-color : #f08080d1;
    --font: #1a1a22;
} */

::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

html {
    scroll-behavior: smooth;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.page {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 5%;
    margin: 5% 5%;
}

.vl {
    border-left: 2px solid var(--theme-color);;
    height: 80%;
    opacity: 30%;
    margin: 25px 50px;
}

#hl {
    border-top: 2px solid var(--theme-color);;
    margin: 1% 0% !important;
    opacity: 30%;
    margin: 50px 50px;
}

.dropshadow {
    transition: all 0.1s ease-in-out;
}

.dropshadow:hover {
    transform: scale(1.007);
    filter: drop-shadow(7px 7px 0px var(--drop-color));
}

.coralShadow:hover {
    --drop-color: #f08080d1;
}

.blueShadow:hover {
    --drop-color: #80cbf0d1;
}

.greenShadow:hover {
    --drop-color: #96f080d1;
}

.yellowShadow:hover {
    --drop-color: #e7f080d1;
}

.whiteShadow:hover {
    --drop-shadow: #ffffffd1;
}



.activity {
    background-color: var(--box-background);
    border-radius: 2%;
    width: 100%;
}

.active {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.disavatar {
    display: flex;
}

#disavatar {
    outline: 2.9px solid #444A51;
    margin: 3% 4%;
    border-radius: 40%;
    width: 10%;
    height: auto;
    display: table;
}

.userinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

#status {
    font-size: 85%;
    color: #9d9d9d;
}

#statusIcon {
    font-size: 85%;
    color: #9d9d9d;
}
#statusIcon1 {
    color:  var(--font);
}

#usernameCopy {
    color: #8d8d8d;
}

.offline {
    color: #9d9d9d;
}
.online {
    color: #3ABF6A;
}
.idle {
    color: #FAA81A;
}
.dnd {
    color: #ED4245;
}

#username {
    color:  var(--font);
}

#customStatus {
    color: #bbbbbb;
    font-size: 110%;
    margin: 2% 2%;
}

.customStatus {
    display: flex;
    flex-direction: column;
}

.statusContainer {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2%;
    align-items: center;
    flex-direction: row;
    padding-left: 5%;
}

.statusBox {
    background-color: var(--box-background-l);
    width: 90%;
    margin-bottom: 2%;
    text-align: center;
    justify-content: center;
    color:  var(--font);
    display: flex;
}

.activityBox {
    display: flex;
    color:  var(--font)
}

.activityInfo {
    font-size: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 80%;
    white-space: nowrap;
    justify-content: center;
}

.activityInfo #details {
    word-break: break-all;
}

.activityImgBox {
    display: inline-block;
    position: relative;
    width: 20%;
}

#activityImage {
    margin: 3% 3%;
    width: 80%;
    border-radius: 10%;
}

#activityImageSmall {
    position: absolute;
    width: 25px;
    border-radius: 60%;
    bottom: 5%;
    right: 10%;
}


.profile {
    background-color: var(--box-background);
    border-radius: 2%;
    width: 100%;
}


.circle {
	position: absolute;
    border: solid 1px var(--theme-color);;
	width: 15px; 
	height: 15px; 
    border-radius: 20%;
    pointer-events: none;
    z-index: 200;
}

.flipped {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

.responsive {
    width: auto;
    height: auto;
}

.nosel {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}



.sky {
    color: var(--theme-color);;
}
.sky:hover {
    animation: color 5s ease infinite alternate;
}


body {
    font-family: 'Yomogi', sans-serif;
    background-color: var(--background);
    line-height: 1.6;
    /* overflow: hidden; */
    user-select: none;
}

ul {
    list-style-type: none;
}
li {
    font-size: 110%;
}

a {
    text-decoration: none;
    color:  var(--font);
}

h1, 
h2 {
    font-weight: 320;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin-bottom: 10px;
}

.nav {
    background-color: var(--box-background); 
    color:  var(--font);
    height: 50px;
    width: auto;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    z-index: 100;
}

.nav ul {
    display: flex;
}

.nav a {
    color: var(--theme-color);;
    padding: 10px;
    margin: 0 15px;
}

.nav a:hover {
    border-bottom: 2px solid var(--theme-color);;
}

.navbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bottomright {
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 15px;
    color: var(--theme-color);;
}


.container {
    max-width: auto;
    margin: 0 auto;
    overflow: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    width: 100%;
    display: table;
    padding: 30px 30px 10px 10px;
}

.button {
    border: none;
    color:  var(--font);
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    font-size: 200%;
    margin-top: 9%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    transition: color 0.2s;
}

.button:hover {
    animation: color 5s ease infinite alternate;
}

.title {
    font-family: 'Mitr', sans-serif;
    font-size: 150%;
    color:  var(--font);
    margin-top: 6%;
    display: flex;
    justify-content: center;
}
.title h1 {
    background: linear-gradient(130deg, #4d91f7, #ff5858, #98f363);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite alternate;
}
.description {
    font-size: 150%;
    color:  var(--font);
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#bd {
    animation: bd 3s infinite alternate;
}

#avatar {
    border: solid 2.5px var(--theme-color);;
    border-radius: 120px;
    width: 9rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#links {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--box-background);
    border-radius: 3%;
}

.topbar {
    padding: 1% 1%;
    overflow: hidden;
}

.divider {
    justify-content: center;
}


.projectsBox {
    background-color: var(--box-background);
    border-radius: 2%;
    color:  var(--font);
    display: table;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projectData {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    font-family: 'Itim', cursive;
}

.projectData .projectTitle {
    font-size: 95%;
}

.projectData .projectDesc {
    font-size: 78%;
}

.projectData a {
    color:rgb(54, 178, 255);
    font-size: 80%;
    font-weight: bold;
}

.projectData a:hover {
    color: #f06340;
}

.projectItem {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    background: var(--box-background-l);
    border-radius: 10px;
    margin: 1% 1% 1% 1%;
    padding-left: 2%;
}

.projectItem img {
    width: 15%;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.skillsBox {
    background-color: var(--box-background);
    border-radius: 2%;
    color:  var(--font);
    display: table;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.progress-bar {
    height: 20px;
    background: #1da1f2;
    box-shadow: 2px 14px 15px -7px rgba(30, 166, 250, 0.36);
    border-radius: 50px;
    transition: all 0.5s;
  }

.skillsbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#barIcon {
    width: 10%;
    position: relative;
    left: 5%;
}

.meterBar {
    width: 93%;
    height: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: end;
    padding: 0.2rem;
    background: #fae060;
    border-radius: 20px;
    box-shadow: 0px 8px 40px #abb7e9;
}

#boxTitles {
    font-size: 120%;
    margin-bottom: 2%;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skillitem {
    padding: 5% 5% 3% 5%;
    padding-top: 1%;
    display: flex;
    width: 100%;
    align-items: center;
}

.skillicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    width: 7%;
}

.stuffBox {
    background-color: var(--box-background);
    border-radius: 5px;
    color:  var(--font);
    display: table;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.tech {
    background-color: var(--box-background-l);
    padding: 1rem;
    border-radius: 5px;
}

.tech img {
    width: 45px;
}

.techs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 10px 10px;
    margin: 10px;
}


.memeBox {
    background-color: var(--box-background);
    border-radius: 2%;
    color:  var(--font);
    display: table;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.memeBox img {
    max-width: 95%;
    max-height: 95%;
}

.contactBox {
    background-color: var(--box-background);
    border-radius: 2%;
    color:  var(--font);
    display: table;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5%;
    text-align: left;
    height: 100%;
}

.contactForm input {
    margin-bottom: 2%;
    padding: 2% 2%;
    width: 100%;
    background: var(--box-background-l);
    border-width: 0px;
    color: #ff5328ce;
}

.contactForm textarea {
    resize: none;
    width: 100%;
    background: var(--box-background-l);
    border-width: 0px;
    margin-bottom: 4%;
    color: #ff5328ce;
}

.contactButton:hover {
    font-weight: 300;
}

.contactButton:hover {
    color: var(--box-background);
    background-color: var(--theme-color);;
}


.footer {
    width: 100%;
    display: flex;
    color: var(--theme-color);;
    justify-content: center;
    background-color: var(--box-background);
    font-size: 1rem;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 5px;
}

.goTop {
    display: none;
    z-index: 100;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    border: none;
    outline: none; 
    cursor: pointer; 
    font-size: 18px;
    width: 34px;
    background-color: var(--box-background-l);
    padding: 7px;
    border-radius: 9999px;
}

.theme {
    z-index: 101;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    border: none;
    outline: none; 
    cursor: pointer; 
    font-size: 18px;
    width: 34px;
    background-color: var(--box-background-l);
    padding: 7px;
    border-radius: 9999px;
}

.theme:hover {
    background-color: var(--box-background-l);
}

.goTop:hover {
    background-color: var(--box-background-l);
}

@keyframes bounce { 
    0%, 5%, 10%, 15%, 20% {transform: translateY(0);} 
    25% {transform: translateY(-10px);} 
    30% {transform: translateY(-15px);} 
 }

@keyframes bd {
    10% { color: rgba(84, 242, 84, 0.734); }
    25% { color: rgba(84, 242, 84, 0.734); }
    75% { color: rgba(248, 53, 18, 0.734); }
    100% { color: rgba(248, 53, 18, 0.734); }
}

@keyframes sky {
    0% { color: rgba(46, 194, 194, 0.734); }
    25% { color: rgba(56, 143, 209, 0.734); }
    50% { color: rgba(38, 118, 179, 0.734); }
    75% { color: rgba(56, 143, 209, 0.734); }
    100% { color: rgba(46, 194, 194, 0.734); }
}

@keyframes red {
    0% { color: rgba(194, 46, 78, 0.734); }
    25% { color: rgba(206, 26, 65, 0.734); }
    50% { color: rgba(206, 51, 84, 0.734); }
    75% { color: rgba(206, 26, 65, 0.734); }
    100% { color: rgba(194, 46, 78, 0.734); }
}

@keyframes gradient { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

@keyframes color {
    0% {
        color: #4d91f7;
    }
    25% {
        color: #8e4df7
    }
    50% {
        color: #ff5858
    }
    75% {
        color: #f3dd63
    }
    100% {
        color: #98f363
    }
}

/* @media (min-width: 0px) {
    .techs { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 300px) {
    .techs { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 900px) {
    .techs { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width: 1200px) {
    .techs { grid-template-columns: repeat(6, 1fr); }
} */

@media only screen and (max-width: 800px) {
    *::-webkit-scrollbar {
        display: none;
    }
    .container {
        max-width: 500px;
        margin: 0 auto;
        overflow: auto;
        padding: 0 40px;
    }
    .titlenav {
        visibility: hidden;
    }
    .nav .flex {
        justify-content: center;
    }
    .title {
        font-size: 100%;
    }
    .description {
        font-size: 90%;
    }
    .stuffBox {
        margin-top: 30px;
    }
    #button {
        font-size: 12px;
        padding: 10px 25px;
    }
    .page {
        flex-direction: column
    }
    .vl {
        display: none
    }
    .activity {
        margin-top: 10%;
    }
    .bottomright {
        display: none;
    }
    .projectsBox {
        margin-bottom: 5%;
    }
    .memeBox {
        margin-bottom: 5%;
    }
    #skillName {
        display: none;
    }
    .skillicon {
        width: 12%;
    }
    .footer {
        font-size: 0.8rem;
    }
}